ion-content {
  --background: #f4a261;

  .div-login {
    margin-top: 34%;

    h1 {
      text-align: center;
      color: white;
      font-weight: bolder;
      margin-bottom: -20%;
    }
  }

  form {
    margin-top: 30%;
  }

  ion-list {
    background: transparent;
  }

  ion-item {
    --background: transparent;
    margin-bottom: 6px;
  }

  ion-item > ion-label {
    font-weight: bolder;
    font-size: larger;
    color: white;
  }

  ion-item > ion-input {
    --background: white;
    height: 46px;
    min-height: 46px;
    border-radius: 8px;
    margin-top: 10px;
    --padding-start: 8px;
    font-size: medium;
    font-weight: bolder;
  }

  ion-item > ion-text {
    margin-top: -36px;
    font-size: small;
    color: white;
    font-weight: bolder;
  }

  ion-button {
    --background: #2a9d8f;
    --background-activated: #2a9d8f;
  }

  .text-login-failed {
    margin-top: 30px;
    font-size: small;
    color: white;
    font-weight: bolder;
    display: block;
    text-align: center;
  }

  .p-registration {
    text-align: center;
    font-size: smaller;
    color: white;
    font-weight: bolder;

    a {
      color: #2a9d8f;
    }
  }
}
