<ion-content class="ion-padding">
  <div class="div-register">
    <h1>Inscription</h1>
  </div>
  <form #registerForm="ngForm" (submit)="onSubmit(registerForm)">
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked" color="light"
          >Nom d'utilisateur</ion-label
        >
        <ion-input
          inputmode="text"
          #name="ngModel"
          required="true"
          name="username"
          [(ngModel)]="registerPayload.name"
        ></ion-input>
      </ion-item>

      <ion-item lines="none" *ngIf="name.invalid && name.touched">
        <ion-text color="danger">Ce champ est obligatoire.</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked" color="light">Mot de passe</ion-label>
        <ion-input
          inputmode="text"
          #password="ngModel"
          required="true"
          type="password"
          name="password"
          [(ngModel)]="registerPayload.password"
        ></ion-input>
      </ion-item>

      <ion-item lines="none" *ngIf="password.invalid && password.touched">
        <ion-text color="danger">Ce champ est obligatoire.</ion-text>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button
        mode="ios"
        type="submit"
        expand="block"
        [disabled]="registerForm.invalid"
        >S'inscrire</ion-button
      >

      <ion-text color="danger" *ngIf="registerError"
        >Le nom d'utilisateur ou le mot de passe est invalide.</ion-text
      >
    </div>
  </form>

  <p class="p-login">
    Vous avez déjà un compte ?
    <a [routerLink]="['/login']">Connectez-vous ici</a>
  </p>
</ion-content>
