<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="light" class="ion-text-center">Profil</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="logOut()">
        <ion-icon name="log-out" color="light"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #profileForm="ngForm" (submit)="onSubmit(profileForm)">
    <ion-list>
      <ion-item lines="none">
        <ion-label position="stacked" color="light">Nom d'utilisateur</ion-label>
        <ion-input
          inputmode="text"
          #name="ngModel"
          required="true"
          name="username"
          [(ngModel)]="updateUserPayload.name"
        ></ion-input>
      </ion-item>

      <ion-item lines="none" *ngIf="name.invalid && name.touched">
        <ion-text color="danger">Ce champ est obligatoire.</ion-text>
      </ion-item>

      <ion-item lines="none">
        <ion-label position="stacked" color="light">Mot de passe</ion-label>
        <ion-input
          inputmode="text"
          #password="ngModel"
          required="true"
          type="password"
          name="password"
          [(ngModel)]="updateUserPayload.password"
        ></ion-input>
      </ion-item>

      <ion-item lines="none" *ngIf="password.invalid && password.touched">
        <ion-text color="danger">Ce champ est obligatoire.</ion-text>
      </ion-item>
    </ion-list>

    <div class="ion-padding">
      <ion-button
        mode="ios"
        type="submit"
        expand="block"
        [disabled]="profileForm.invalid"
        >Mettre à jour</ion-button
      >

      <ion-text color="danger" *ngIf="updateUserError"
        >Le nom d'utilisateur ou le mot de passe est invalide.</ion-text
      >
    </div>
  </form>
</ion-content>
