<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title color="light" class="ion-text-center">TravelApp</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img
    src="../../assets/icon/travel_icon.png"
    alt=""
    srcset=""
    class="img-travel_icon"
  />

  <ion-button
    expand="block"
    mode="ios"
    shape="round"
    [routerLink]="['/register']"
  >
    Créer un compte
  </ion-button>

  <ion-button expand="block" mode="ios" shape="round" [routerLink]="['/login']">
    Se connecter
  </ion-button>
</ion-content>
