/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Revalia', cursive; ;
    src: url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
}

@font-face {
    font-family: 'Revalia', cursive; 
    src: url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');
}

@font-face {
    font-family:'Roboto', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
}

/* ------------ CSS global de l'app ------------ */
h1 {
    font-family: 'Revalia', cursive;
    font-size: 24px;
    color: var(--ion-color-secondary);
}

// les titres noirs dans la page d'un voyage
h2{
    font-family: 'Revalia', cursive;
    font-size: 18px;
    color: #000;
}

// les noms de voyage, p.ex "Tokyo 2022" 
.txtBlanc{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--ion-color-primary-contrast); /*blanc*/
}

.txtVert{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: var(--ion-color-tertiary); /*vert*/
}
//classe des petits boutons (verts en général)
.txtBtnSmall{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    align-self: center;
}

//classe des gros boutons oranges
.txtBtnBig{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    
}


// liens dans la page d'un voyage
.lienVoyage{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #000; /*noir*/
    text-decoration: underline;
}


.header-item-voyage{
    background-color: var(--ion-color-tertiary);
}

.card-title-item-voyage, .card-subtitle-item-voyage{
color: var(--ion-color-tertiary-contrast);
}

.img-voyage{
    max-height: 200px;
}